
.tblEstilo{
    border-collapse: collapse;
    border: 2px solid #828080;

    & th{
        background-color: #deb887;
        border:2px solid #828080;
        text-align: center;
    }

    & .lineTbl{
        background-color: #ccc;

        & td{
            border: 2px solid #828080;

            &:first-child{
                text-align: center;
            }

            &:last-child{
                text-align: center;
            }

        }   
    }

    & tfoot{
        background-color: #ccc;
        & td{
            border: 2px solid #828080;
            text-align: center;
        }
    }
}
